<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deleted!!!</title>

    <style>
        .cong-message {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .info {
            font-size: 18px;
            margin-top: 15px;
        }
        .from-reg {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1 class="welcome">Account Deleted!!!</h1>
    <div class="cong-message">We feel sorry to inform you that your account has been deleted successfully as per your request.</div>
    <div class="info">We hope to see you back again someday.</div>
    <div class="from-reg">Regards</div>
    <div class="from">Shadow Works</div>
</body>
</html>