<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role updated successfully</title>

    <style>
        .cong-message {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .from-reg {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1 class="welcome">Role Updated Successfully</h1>
    <div class="cong-message">We would like to inform you that your role has been updated to {{ role }}.</div>
    <div class="from-reg">Regards</div>
    <div class="from">Shadow Works</div>
</body>
</html>